.wrap {
  min-height: 100vh - 80px
}

body {
  background-color: #C84127;
}

.menu-icon::before {
  float:right;
}

#portrait {
  height: 10em;
  width: 10em;
  border-radius: 100%;
}

header h1 {
  background-color: #67C5C2;
}

nav ul {
  display: none;
}

nav:hover ul {
  display: block;
}

.portraitPicture {
  display: inline-block;
  float: left;
}

.socialMedia {
  margin-top: 10em;
}

main {
  margin-left: 10%;
  margin-right: 10%;
}

.divider {
  height: 2em;
  width: 100%;
  background-color: #3D2117;
}

#category-filter {
  /*text-align does nothing*/
  text-align: center;

}

.highlight {
  display: none;
}

.project {
margin-top: 5em;
margin-bottom: 5em;
}

.view h2 {
  text-align: center;
}


.view img {
  height: 11em;
  width: 11em;
  float: right;
}

footer {
  width: 100%;
  height: 4em;
  padding-top: .5em;
  padding-bottom: .5em;
  background-color: grey;
  bottom: 0;
  background-color: #67C5C2;
}

footer p {
  text-align: center;
  margin-top: .4em;
  margin-bottom: .4em;
}

@media only screen and (min-width: 640px) {
  nav ul {
    display: block
  }
  .socialMediaIcons li {
    display: inline-block;
  }

  .menu-icon {
    display: none;
  }
}
